<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crosslight.Xamarin.Build.Download" version="25.3.1" targetFramework="monoandroid71" />
  <package id="FAB.XamarinAndroid" version="1.6.4.0" targetFramework="monoandroid71" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="monoandroid71" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="monoandroid71" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="monoandroid71" />
  <package id="modernhttpclient" version="2.4.2" targetFramework="monoandroid71" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="monoandroid71" />
  <package id="PCLStorage" version="1.0.2" targetFramework="monoandroid71" />
  <package id="Plugin.Connectivity" version="1.0.2" targetFramework="monoandroid71" />
  <package id="Portable.Ninject" version="3.3.1" targetFramework="monoandroid71" />
  <package id="Refractored.PagerSlidingTabStrip" version="1.1.6" targetFramework="monoandroid71" />
  <package id="Xam.Plugin.Connectivity" version="3.2.0" targetFramework="monoandroid71" />
  <package id="Xam.Plugins.Settings" version="3.1.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.StickyListHeaders" version="2.7.0" targetFramework="monoandroid51" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Annotations" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Compat" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Core.UI" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Core.Utils" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Design" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Fragment" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Media.Compat" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Percent" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Recommendation" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Transition" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v13" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v4" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.CardView" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.GridLayout" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.Palette" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.Preference" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v8.RenderScript" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Build.Download" version="0.4.11" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Base" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Basement" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Location" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Maps" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Tasks" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.JazzyViewPager" version="1.0.1" targetFramework="monoandroid51" />
  <package id="Xamarin.StickyListHeaders" version="2.7.1" targetFramework="monoandroid51" />
</packages>