<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.restur.app">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="22" />
	<application android:label="Resväg.nu" android:theme="@style/Theme.MyTheme" android:allowBackup="true" android:icon="@mipmap/icon">
		<activity android:name=".SplashActivity" android:noHistory="true"></activity>
		<!-- Put your Google Maps V2 API Key here. -->
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBADj9yhcY8Yd4xzzxt9L0tbeHx98B0Fe4" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="Android.Manifest.Permission.AccessMockLocation" />
	<uses-permission android:name="Android.Manifest.Permission.WriteExternalStorage" />
	<uses-permission android:name="android.permission.NETWORK" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
</manifest>